.card {
    background-color: rgb(190, 211, 211);
    border: none;
    height: 150px;
    width: 90px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
.card:hover{
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img{
    width: 30px;
    position: relative;
    top: -30px;
}