#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
h2{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1.2rem;
}
p{
  user-select: none;
  font-size: larger;
  color: rgb(155, 159, 159) ;
  opacity: 0.4;
}
h3{
  color: rgb(249, 252, 255);
    font-size: 3rem;
    font-weight: 900;
    user-select: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1.2rem;
}
.timer{
  user-select: none;
  color: whitesmoke;
  font-size:50px;
  margin-bottom:50px;
}
p{
  font-size:40px;
  color:white;
  opacity: 1;
}
.new{
  margin-top:20px;
  padding:10px 20px;
  font-size:20px;
  background-color:#4CAF50;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
@media (max-width: 600px) {
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
    }
    p{
      font-size: 40px;
      color: white;
    }
}